Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
.idea/
Plugins/Developer/

# FAB
Content/Fab/
Content/NiagaraExamples/
Content/LPCharacters_FREE
Content/Survival_Character/

# Bestanden
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.target.json
*.modules
